<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Новий лікар</title>
  <link rel="stylesheet" th:href="@{static/css/styles.css}" />
</head>
<body>
<div class="content">
  <h2>Додати лікаря</h2>
  <form th:action="@{/doctors/add}" method="post" th:object="${doctor}">
    <div>
      <label>Ім'я:</label>
        <label>
            <input type="text" th:field="*{first_name}" />
        </label>
    </div>
    <div>
      <label>Прізвище:</label>
        <label>
            <input type="text" th:field="*{last_name}" />
        </label>
    </div>

      <div>
          <label>По батькові:</label>
          <label>
              <input type="text" th:field="*{patronymic}" />
          </label>
      </div>

    <div>
      <label>Електронна пошта:</label>
        <label>
            <input type="text" th:field="*{email}" />
        </label>
    </div>
    <div>
          <label>Пароль:</label>
            <label>
                <input type="password" th:field="*{password}" />
            </label>
    </div>

    <div>
        <label>Номер телефону:</label>
        <label>
            <input type="text" th:field="*{phone_number}" />
        </label>
    </div>
    <div>
        <label>Вік:</label>
        <label>
            <input type="number" th:field="*{age}" />
        </label>
    </div>
    <div>
        <label>Спеціальність:</label>
        <label>
            <input type="text" th:field="*{specialty}" />
        </label>
    </div>
    <div>
        <label>Освіта:</label>
        <label>
            <input type="text" th:field="*{education}" />
        </label>
    </div>
    <div>
        <label>Досвід:</label>
        <label>
            <input type="text" th:field="*{experience}" />
        </label>
    </div>
      <div>
          <label>Послуги:</label>
          <label>
              <select multiple th:field="*{medServices}">
                  <option th:each="medservice : ${medServices}"
                          th:value="${medservice.id}"
                          th:text="${medservice.name}">
                  </option>
              </select>
          </label>
      </div>
      <input type="submit" value="Add" />
  </form>
</div>
</body>
</html>
