<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Doctors</title>
    <link rel="stylesheet" th:href="@{static/css/styles.css}" />
</head>
<body>
<div class="menu">
    <!-- Your button menu code here -->
</div>
<div class="content">
    <h2>Doctors</h2>
    <form action="/doctors/add">
        <button type="submit">Add Doctor</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Patronymic</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Age</th>
            <th>Specialty</th>
            <th>Education</th>
            <th>Experience</th>
            <th>Medical Services</th>
        </tr>
        </thead>
        <tbody>
        <!-- Loop through the list of doctors and populate the table rows -->
        <tr th:each="doctor : ${doctors}">
            <td th:text="${doctor.first_name}"></td>
            <td th:text="${doctor.last_name}"></td>
            <td th:text="${doctor.patronymic}"></td>
            <td th:text="${doctor.email}"></td>
            <td th:text="${doctor.phone_number}"></td>
            <td th:text="${doctor.age}"></td>
            <td th:text="${doctor.specialty}"></td>
            <td th:text="${doctor.education}"></td>
            <td th:text="${doctor.experience}"></td>
            <td>
                <ul>
                    <!-- Loop through the list of medical services for each doctor -->
                    <li th:each="medService : ${doctor.medServices}" th:text="${medService.name}"></li>
                </ul>
            </td>
            <td>
                <a th:href="@{/doctors/{id}/edit(id=${doctor.id})}">Edit</a>
                <a th:href="@{/doctors/{id}/delete(id=${doctor.id})}">Delete</a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>