<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редагування лікаря</title>

    <div th:replace="fragments/header :: header-css"></div>

    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .form-container {
            width: 400px;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #f9f9f9;
            max-height: 600px;
            overflow-y: auto;
        }
    </style>

</head>
<body>

<div class="form-container">
    <h1>Відредагуйте лікаря</h1>
    <form method="post" th:action="@{/doctors/edit/{id}(id=${doctor.id})}"  th:object="${doctor}">
        <div class="form-group">
            <label for="first_name">Ім'я:</label>
            <input class="form-control" id="first_name" required th:field="*{first_name}" type="text">
        </div>
        <div class="form-group">
            <label for="last_name">Прізвище:</label>
            <input class="form-control" id="last_name" required th:field="*{last_name}" type="text">
        </div>
        <div class="form-group">
            <label for="patronymic">По батькові:</label>
            <input class="form-control" id="patronymic" th:value="*{patronymic}" required th:field="*{patronymic}" type="text">
        </div>
        <div class="form-group">
            <label for="email">Електронна пошта:</label>
            <input class="form-control" id="email" required th:field="*{email}" type="text">
        </div>
        <div class="form-group">
            <label for="password">Пароль:</label>
            <input class="form-control" id="password" type="password">
        </div>

        <div class="form-group">
            <label for="phone_number">Номер телефону:</label>
            <input class="form-control" id="phone_number" required th:field="*{phone_number}" type="text">
        </div>

        <div class="form-group">
            <label for="age">Вік:</label>
            <input class="form-control" id="age" required th:field="*{age}" type="number">
        </div>
        <div class="form-group">
            <label for="specialty">Спеціальність:</label>
            <input class="form-control" id="specialty" required th:field="*{specialty}" type="text">
        </div>
        <div class="form-group">
            <label for="education">Освіта:</label>
            <input class="form-control" id="education" required th:field="*{education}" type="text">
        </div>
        <div class="form-group">
            <label for="experience">Стаж:</label>
            <input class="form-control" id="experience" required th:field="*{experience}" type="text">
        </div>
        <br>
        <div class="form-group">
            <label for="medServices">Послуги:</label>
            <select class="form-control" id="medServices" th:field="*{medServices}" multiple="multiple">
                <option th:each="medService : ${medServices}" th:value="${medService.id}" th:text="${medService.name}"></option>
            </select>
        </div>
        <br>
        <button class="btn btn-primary" type="submit">Оновити</button>
        <a class="btn btn-danger" th:href="@{/doctors}">Скасувати</a>
    </form>
</div>
</body>
</html>