<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Edit Doctor</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
</head>
<body>
<div class="menu">
    <!-- Your button menu code here -->
</div>
<div class="content">
    <h2>Edit Doctor</h2>
    <form th:action="@{/doctors/{id}/edit}" method="post" th:object="${doctor}">
        <div>
            <label>First Name:</label>
            <label>
                <input type="text" th:field="*{first_name}" />
            </label>
        </div>
        <div>
            <label>Last Name:</label>
            <label>
                <input type="text" th:field="*{last_name}" />
            </label>
        </div>
        <div>
            <label>Email:</label>
            <label>
                <input type="text" th:field="*{email}" />
            </label>
        </div>
        <div>
            <label>Password:</label>
            <label>
                <input type="password" th:field="*{password}" />
            </label>
        </div>
        <div>
            <label>Patronymic:</label>
            <label>
                <input type="text" th:field="*{patronymic}" />
            </label>
        </div>
        <div>
            <label>Phone Number:</label>
            <label>
                <input type="text" th:field="*{phone_number}" />
            </label>
        </div>
        <div>
            <label>Age:</label>
            <label>
                <input type="number" th:field="*{age}" />
            </label>
        </div>
        <div>
            <label>Specialty:</label>
            <label>
                <input type="text" th:field="*{specialty}" />
            </label>
        </div>
        <div>
            <label>Education:</label>
            <label>
                <input type="text" th:field="*{education}" />
            </label>
        </div>
        <div>
            <label>Experience:</label>
            <label>
                <input type="text" th:field="*{experience}" />
            </label>
        </div>
        <div>
            <label>Medical Services:</label>
            <div th:each="medService : ${medServices}">
                <label>
                    <input type="checkbox" th:field="*{medServices}" th:value="${medService}" />
                </label>
                <label th:text="${medService}"></label>
            </div>
        </div>
        <input type="submit" value="Add" />
    </form>
</div>
</body>
</html>