<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Пацієнт</title>

  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="~{fragments/header :: menu}"></div>

<div class="container">
  <h1>Пацієнт</h1>
  <p>
    <strong>Ім'я:</strong> <span th:text="${consumer.first_name}"></span><br>
    <strong>Прізвище:</strong> <span th:text="${consumer.last_name}"></span><br>
    <strong>По батькові:</strong> <span th:text="${consumer.patronymic}"></span><br>
    <strong>Електронна пошта:</strong> <span th:text="${consumer.email}"></span><br>
    <strong>Пароль: ********</strong> <br>
    <strong>Номер телефону:</strong> <span th:text="${consumer.phone_number}"></span><br>
    <strong>Адреса:</strong> <span th:text="${consumer.address}"></span><br>
    <strong>Вік:</strong> <span th:text="${consumer.age}"></span><br>
    <strong>Група крові:</strong> <span th:text="${consumer.blood_type}"></span><br><br>
    <a class="btn btn-info" th:href="@{/consumers/edit/{id}(id=${consumer.id})}">Edit</a>
    <a class="btn btn-danger" th:href="@{/consumers/delete/{id}(id=${consumer.id})}">Delete</a>
  </p>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>

  <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</body>
</html>