<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Choose Role</title>

  <link rel="stylesheet" th:href="@{/css/main.css}"/>
  <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"/>

  <style>
    body {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      width: 300px;
      padding: 20px;
      border: 1px solid #ddd;
      border-radius: 5px;
      background-color: #f9f9f9;
    }
  </style>
</head>
<body>
<div class="form-container">
  <h3>Крок 1:</h3>
  <h2>Виберіть роль</h2>
  <form th:action="@{/register}" method="post">
    <div class="form-group">
<!--      <div class="form-check">-->
<!--        <input class="form-check-input" type="radio" name="role" id="doctor" value="doctor">-->
<!--        <label class="form-check-label" for="doctor">-->
<!--          Doctor-->
<!--        </label>-->
<!--      </div>-->
      <div class="form-check">
        <input class="form-check-input" type="radio" name="role" id="consumer" value="consumer">
        <label class="form-check-label" for="consumer">
          Користувач
        </label>
      </div>
    </div>
    <button class="btn btn-primary" type="submit">Підтвердити</button>
    <button class="btn btn-danger" th:href="@{/}">Скасувати</button>
  </form>
</div>
</body>
</html>
