<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Alt clinic</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}" />

</head>
<body>

<div th:replace="~{fragments/header :: menu}"></div>

<h1 class="col-md-4 col-md-offset-1">Hello in Alt Clinic</h1>

<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

</body>
</html>