<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Електронний запис</title>

    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css}"/>

</head>
<body>

<div th:replace="~{fragments/header :: menu}"></div>

<div class="container">


    <h1>Електронний запис</h1>

    <!-- Check for error attribute and display error message if present -->
    <div class="alert alert-danger" th:if="${error}">
        <p th:text="${error}"></p>
    </div>

    <form action="/doctor_appointments/choose-doctor-date" method="POST" th:object="${doctorDate}">
        <div class="form-group">
            <label for="speciality">Спеціальність:</label>
            <select class="form-control" id="speciality" name="speciality" onchange="updateDoctorList(this.value)">
                <option value="">-- Select Specialty --</option>
                <option th:each="speciality : ${specialities}" th:text="${speciality}"
                        th:value="${speciality}"></option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="doctor">Лікар:</label>
            <select class="form-control" id="doctor" name="doctor" th:field="*{doctorId}">
                <option value="">-- Select Doctor --</option>
            </select>
        </div>
        <br>
        <div class="form-group">
            <label for="appointmentDate">Дату:</label>
            <input class="form-control" id="appointmentDate" name="appointmentDate" th:field="*{appointmentDate}"
                   th:min="${minDate}" type="date" onchange="disableWeekendDates()">
        </div>
        <br>
        <input class="btn btn-primary" type="submit" value="Book Appointment">
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>

<script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js}"></script>

<script th:inline="javascript">

    function updateDoctorList(selectedSpecialty) {
        const doctors = [[${doctors}]];
        const doctorSelect = document.getElementById("doctor");
        doctorSelect.innerHTML = '';

        for (let i = 0; i < doctors.length; i++) {
            console.log("doctor: " + doctors[i])
            if (doctors[i].specialty === selectedSpecialty) {
                const option = document.createElement("option");
                option.value = doctors[i].id;
                option.text = doctors[i].last_name + ' ' + doctors[i].first_name;
                doctorSelect.appendChild(option);
            }
        }
        console.log(doctorSelect)
    }

    function disableWeekendDates() {
        const appointmentDateInput = document.getElementById("appointmentDate");
        const selectedDate = new Date(appointmentDateInput.value);
        const dayOfWeek = selectedDate.getDay();

        if (dayOfWeek === 6 || dayOfWeek === 0) { // 6 = Saturday, 0 = Sunday
            appointmentDateInput.value = '';
            alert("Please choose a weekday. Saturdays and Sundays are not available.");
        }
    }
</script>

</body>
</html>